<%- include("./html/open.ejs") %>

    <nav>
        <ul>
            <% articles.forEach(article => { %>
                <a href="/artigo/<%= article.slug %>">
                    <li> <%= article.title %> </li>
                </a>
            <% }) %>
        </ul>
    </nav>
<%- include("./html/close.ejs") %>