@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');

*
{
    font-family: 'Quicksand', sans-serif;
}

body
{
    background-color: #f9f9f9;
}

a.btn, input[type=text], textarea, button.btn
{
    border-radius: 2px !important;
}

a.btn, button.btn
{
    font-weight: 700;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all .3s;
}