<%- include("./../../html/open.ejs") %>

<%- include("./../../components/navbar.ejs") %>

<div class="container pt-5">
    <div class="row">
        <div class="col col-12 col-md-6 col-lg-6 mx-auto">
            <form action="/app/categorias/nova" method="post">
                <h4 class="h4 h4-responsive text-black-50 mb-5">Cadastro de nova categoria</h4>
                <p class="text-black-50">Digite o nome da categoria e clique em "pronto"</p>
                <input type="text" name="categname" class="mb-2 form-control" autofocus required placeholder="Digite aqui...">
                <button class="btn btn-success btn-block">pronto</button>
            </form>
        </div>
    </div>
</div>

<%- include("./../../html/close.ejs") %>